html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
}

.black {
  background-color: black;
}

.dimmer {
  pointer-events: none;
  background-color: black;
}

.fullscreen {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 0px;
  z-index:0;
}

.status {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}

.status::before {
  content: url(../images/disconnected.svg);
}

.status.connected::before {
  content: url(../images/connected.svg);
}
