<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Webapp Compositor</title>
</head>

<body>
  <div id="app" class="fullscreen black"></div>
  <!-- main.js will be injected by html-webpack-plugin -->
</body>

</html>